@model List<Voter>

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>eElection</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/assets/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/assets/vendors/font-awesome/css/font-awesome.min.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/assets/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/assets/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
                <a class="navbar-brand fw-bold text-success" href="index.html" style="font-size: 1.5rem;">eElection</a>
            </div>

            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>

                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">

                        <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="mdi mdi-cached me-2 text-success"></i> Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">
                                <i class="mdi mdi-logout me-2 text-success"></i> Signout
                            </a>
                        </div>
                    </li>
                    @* <li class="nav-item d-none d-lg-block full-screen-link"> *@
                    @*     <a class="nav-link"> *@
                    @*         <i class="mdi mdi-fullscreen" id="fullscreen-button"></i> *@
                    @*     </a> *@
                    @* </li> *@
                    <li class="nav-item dropdown">
                        <form id="logoutForm" asp-controller="Admin" asp-action="Logout" method="post" style="display: none;">
                            <button type="submit"></button>
                        </form>
                        <a class="dropdown-item" href="#" onclick="document.getElementById('logoutForm').submit(); return false;">
                            <i class="mdi mdi-logout me-2 text-success"></i> Signout
                        </a>
                    </li>



                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="Home">
                            <span class="menu-title">Home</span>
                            <i class="mdi menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="Announcements">
                            <span class="menu-title">Announcement</span>
                            <i class="mdi menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="Parties">
                            <span class="menu-title">Party</span>
                            <i class="mdi menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="Announcements">
                            <span class="menu-title">Announcement</span>
                            <i class="mdi menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="Candidates">
                            <span class="menu-title">Candidate</span>
                            <i class="mdi menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="Voters">
                            <span class="menu-title">Voter</span>
                            <i class="mdi menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="Announcements">
                            <span class="menu-title">Announcement</span>
                            <i class="mdi menu-icon"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-12 grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        Voters List
                                        @* <button class="btn btn-success btn-sm float-right" data-toggle="modal" data-target="#addAnnouncementModal">+ Add Announcement</button> *@
                                    </h4>
                                    @* <div class="d-flex justify-content-end mb-3"> *@
                                    @*     <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addAnnouncementModal"> *@
                                    @*         Add Announcement *@
                                    @*     </button> *@
                                    @* </div> *@
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th> Name </th>
                                                    <th> Email </th>
                                                    <th> Phone </th>
                                                    <th> Address </th>
                                                    @* <th> Action </th> *@
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var voter in Model)
                                                {
                                                    <tr>
                                                        <td>@voter.FirstName  @voter.LastName</td>
                                                        <td>@voter.Email</td>
                                                        <td>@voter.Phone</td>
                                                        <td>@voter.Address</td>
                                                        @* <td> *@
                                                        @*     <button class="btn btn-warning btn-sm edit-btn" data-id="@voter.VoterId">Edit</button> *@
                                                        @*     <button class="btn btn-danger btn-sm delete-btn" data-id="@voter.VoterId">Delete</button> *@
                                                        @* </td> *@

                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <!-- Modal for Adding Election -->
                <div class="modal fade" id="addAnnouncementModal" tabindex="-1" aria-labelledby="addAnnouncementModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addAnnouncementModalLabel">Add New Announcement</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="addAnnouncementForm">
                                    <div class="mb-3">
                                        <label for="title" class="form-label">Title</label>
                                        <input type="text" class="form-control" id="title" name="Title" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="description" class="form-label">Description</label>
                                        <input type="text" class="form-control" id="description" name="AnnouncementName" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="status" class="form-label">Announcement Name</label>
                                        <input type="text" class="form-control" id="status" name="Status" required>
                                    </div>
                                    <button type="submit" class="btn btn-success">Save Announcement</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Edit Election Modal -->
                <div class="modal fade" id="editAnnouncementModal" tabindex="-1" aria-labelledby="editAnnouncementModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editAnnouncementModalLabel">Edit Announcement</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="editAnnouncementForm">
                                    <input type="hidden" id="editAnnouncementId">
                                    <div class="mb-3">
                                        <label for="editTitle" class="form-label">Title</label>
                                        <input type="text" class="form-control" id="editTitle" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="editDescription" class="form-label">Description</label>
                                        <input type="text" class="form-control" id="editDescription" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="editStatus" class="form-label">Status</label>
                                        <input type="text" class="form-control" id="editStatus" required>
                                    </div>
                                    <button type="submit" class="btn btn-success">Update Announcement</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2023 <a href="https://www.bootstrapdash.com/" target="_blank">BootstrapDash</a>. All rights reserved.</span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>


    <script>
        document.getElementById("addAnnouncementForm").addEventListener("submit", function(event) {
            event.preventDefault(); // Prevent default form submission

            let formData = {
                Title: document.getElementById("title").value,
                Description: document.getElementById("description").value,
                Status: document.getElementById("status").value,


            };

            fetch("/Admin/AddAnnouncement", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(formData)
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert("Announcement added successfully!");
                    location.reload(); // Reload page to see new announcement
                } else {
                    alert("Error: " + data.message);
                }
            })
            .catch(error => console.error("Error:", error));
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Edit button click event
            document.querySelectorAll(".edit-btn").forEach(button => {
                button.addEventListener("click", function () {
                    let announcementId = this.getAttribute("data-id");

                    fetch(`/Admin/GetAnnouncement?id=${announcementId}`)
                        .then(response => response.json())
                        .then(data => {
                            document.getElementById("editAnnouncementId").value = data.announcementId;
                            document.getElementById("editTitle").value = data.title;
                            document.getElementById("editDescription").value = data.description;
                            document.getElementById("editStatus").value = data.status;
                            new bootstrap.Modal(document.getElementById("editAnnouncementModal")).show();
                        });
                });
            });

            // Edit Form Submit (AJAX)
            document.getElementById("editAnnouncementForm").addEventListener("submit", function (event) {
                event.preventDefault();

                let formData = {
                    AnnouncementId: document.getElementById("editAnnouncementId").value,
                    Title: document.getElementById("editTitle").value,
                    Description: document.getElementById("editDescription").value,
                    Status: document.getElementById("editStatus").value,
                };

                fetch("/Admin/EditAnnouncement", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(formData)
                })
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                    location.reload();
                })
                .catch(error => console.error("Error:", error));
            });

            // Delete button click event
            document.querySelectorAll(".delete-btn").forEach(button => {
                button.addEventListener("click", function () {
                    let announcementId = this.getAttribute("data-id");

                    if (confirm("Are you sure you want to delete this announcement?")) {
                        fetch(`/Admin/DeleteAnnouncement?id=${announcementId}`, {
                            method: "POST",
                            headers: { "Content-Type": "application/json" }
                        })
                        .then(response => response.json())
                        .then(data => {
                            alert(data.message);
                            location.reload();
                        })
                        .catch(error => console.error("Error:", error));
                    }
                });
            });
        });
    </script>


    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/assets/vendors/chart.js/chart.umd.js"></script>
    <script src="~/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/assets/js/off-canvas.js"></script>
    <script src="~/assets/js/misc.js"></script>
    <script src="~/assets/js/settings.js"></script>
    <script src="~/assets/js/todolist.js"></script>
    <script src="~/assets/js/jquery.cookie.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
    <!-- Main Content -->
    <div class="content" id="content">

        <main role="main" class="pb-3">
            @* @RenderBody() *@
        </main>
    </div>
</body>
</html>